<a href="https://colab.research.google.com/github/irajamuller/data_science/blob/main/Prepara%C3%A7%C3%A3o_de_Dados_Atividade.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
# 1 - Exercícios sobre Preparação de Dados
---
Observe que cada questão vale 0.3, sendo que o total dessa atividade é 3.0.

<p align="justify">
Iremos utilizar o dataset <strong>Diamonds</strong> do Seaborn. O objetivo é trabalharmos com limpeza, normalização, agregação e outliers.
</p>

<center>

| Coluna    | Tipo     | Descrição                                                               |
| --------- | -------- | ----------------------------------------------------------------------- |
| `carat`   | float64  | Peso do diamante em quilates.                                           |
| `cut`     | category | Qualidade do corte do diamante (Fair, Good, Very Good, Premium, Ideal). |
| `color`   | category | Cor do diamante, do melhor (D) ao pior (J).                             |
| `clarity` | category | Clareza do diamante, de melhor (IF) a pior (I1).                        |
| `depth`   | float64  | Profundidade total do diamante (%). Calculado como z / media(x, y).     |
| `table`   | float64  | Largura da mesa do diamante (% do topo em relação à largura máxima).    |
| `price`   | int64    | Preço do diamante (em dólares americanos).                              |
| `x`       | float64  | Comprimento do diamante (em mm).                                        |
| `y`       | float64  | Largura do diamante (em mm).                                            |
| `z`       | float64  | Altura do diamante (em mm).     
                                        |
</center>

In [ ]:
import pandas as pd
import seaborn as sns

# Carregamento  do dataset
df = sns.load_dataset('diamonds')
df.head()

### 1.1 - Preencha os valores nulos de depth com a mediana. Coloque o resultado em um novo dataframe.

In [ ]:
# Resposta AQUI

### 1.2 - Remova linhas com valores nulos. Use o dataframe anterior e atualize-o.

In [ ]:
# Resposta AQUI

### 1.3 - Remova linhas duplicadas. Use o dataframe anterior e atualize-o.

In [ ]:
# Resposta AQUI

### 1.4 - Normalize a coluna price usando Min-Max (nova coluna). Use o dataframe anterior e atualize-o.

In [ ]:
# Resposta AQUI

### 1.5 - Normalize a coluna carat usando z-score (nova coluna). Use o dataframe anterior e atualize-o.

In [ ]:
# Resposta AQUI

### 1.6 - Remova outliers de carat usando IQR. Use o dataframe anterior e CRIE um novo dataframe.

In [ ]:
# Resposta AQUI

### 1.7 - Remova outliers de price com Z-Score (> 3). Use o dataframe anterior e atualize-o.

In [ ]:
# Resposta AQUI

### 1.8 - Crie uma coluna caro onde True se o preço for maior que 5000. Use o dataframe anterior.

In [ ]:
# Resposta AQUI

### 1.9 - Agrupe por cut e color e agregue-os por média (mean), menor (min) e maior (max) para price e carat. Use o dataframe anterior.

In [ ]:
# Resposta AQUI

### 1.10 - Quantos diamantes possuem mais de 1 quilate (carat > 1.0) e corte "Premium". Use o dataframe anterior.

In [ ]:
# Resposta AQUI